body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a {
  display: inline-block;
  margin-right: 30px;
}

nav {
  margin-bottom: 30px;
}

form input {
  display: block;
  margin-bottom: 20px;
}

form input[type='checkbox'] {
  display: inline;
}

.App {
  padding: 15px;
}
